<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https: //cdnjs. cloudflare. com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <title>Projects</title>
</head>
<body>

  <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="../">TEAM MAGMA</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ms-auto mb-2  mb-md-0 ">
          <li class="nav-item">
            <form action="/" method="get" >
            <button class="btn nav-link">Home</button>
            </form>
          </li>
          <li class="nav-item">
            <form action="/projects" method="post" >
            <button class="btn nav-link active">Projects</button>
            </form>
          </li>
          <li class="nav-item">
            <form action="/members" method="post">
              <button class="btn nav-link" >Members</button>
            </form>
          </li>
          
          <li class="nav-item">
            <a class="btn nav-link d-inline-block" href="../#contact">Contact Us</a>
          </li>
        </ul>
        
      </div>
    </div>
  </nav>

      <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
        <div class="my-3 py-3">
          <h2 class="display-5">Ram Mandir Celebration</h2>
          <p class="lead">Shot and Edited by :- Basayya | Vrashabh | Harshit</p>
        </div>
        <div class="bg-dark shadow-sm mx-auto "  style=" height: 300px; border-radius: 21px 21px 0 0;">
          <iframe  width="80%" height="100%" style="border-radius: 30px ;" src="https://www.youtube.com/embed/krF9_H1LeOo?si=ghywexnhYbgxLemj" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen>
          </iframe>
        </div>
        
      </div>

      <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
        <div class="my-3 py-3">
          <h2 class="display-5">OTHER PROJECTS</h2>
          <p class="lead">COMING SOON.....</p>
        </div>
        <div class="bg-dark shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>

      </div>



      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>